<a href="https://colab.research.google.com/github/18K41A0586/assignment2/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=float(input("Enter length of 1st side of a triangle:"))  
y=float(input("Enter length of 2nd side of a triangle:"))  
z=float(input("Enter length of 3rd side of a triangle:"))  
if(x+y>z):
  s=(x+y+z)/2  
  area=(s*(s-x)*(s-y)*(s-z))**(1/2)
  print("The area of the triangle is= ", round(area,2))
else:
  print("The triangle is not possible")

Enter length of 1st side of a triangle:5
Enter length of 2nd side of a triangle:4
Enter length of 3rd side of a triangle:6
The area of the triangle is=  9.92

In [3]:
a=input("Enter a string:")
if(a==a[::-1]):
    print("Given string {} is palindrome".format(a))
else:
    print("Given string {} is not palindrome".format(a))

Enter a string:hello
Given string hello is not palindrome

In [4]:
year=int(input("Enter the year:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("{} The entered year is leap year".format(year))
else:
    print("{} The entered year is not a leap year".format(year))

Enter the year:2000
2000 The entered year is leap year

In [6]:
p=input("Enter a string : ")
print(p.replace(' ','-'))

Enter a string : hello world
hello-world

In [13]:
string=input("Enter a string: ")
s=string.split()
s.sort()
list(s)
set(s)

Enter a string: orange cyan green

{'cyan', 'green', 'orange'}

In [14]:
salary=int(input("Enter the salary : "))
if (salary>=0) and (salary<=250000):
    tax=(salary*0)
elif (salary>250000) and (salary<=500000):
    tax=(salary*0.05)
elif (salary>500000) and (salary<=750000):
    tax=(salary*0.1)
elif (salary>750000) and (salary<=1000000):
    tax=(salary*0.15)
elif (salary>1000000) and (salary<=1250000):
    tax=(salary*0.2)
elif (salary>1250000) and (salary<=1500000):
    tax=(salary*0.25)
else:
    tax=(salary*0.3)
print("Tax is : ",tax)

Enter the salary : 255000
Tax is :  12750.0

In [15]:

k=[11,33,50]
for i in k:
  print(i,end="")

113350

In [17]:
days=int(input("enter days "))
hrs=int(input("enter hours "))
min=int(input("enter minutes "))
sec=int(input("enter seconds "))
print((days*86400)+(hrs*3600)+(min*60)+sec)

enter days 3
enter hours 30
enter minutes 56
enter seconds 76
370636

In [19]:
num=[1,11,3]
sorted=[]
for i in range(3):
  x=max(num)
  num.remove(x)
  sorted.append(x)
print(sorted)

[11, 3, 1]

In [21]:
year=int(input("enter year "))
month=int(input("enter month "))
date=int(input("enter date "))
if year%4==0 and year%100!=0 or year%400==0:
  if month==2:
    month_len=29
  else:
    month_len=28
elif month in (1,3,5,7,8,10,12):
  month_len=31
else:
  month_len=30
if date<month_len:
  date+=1
else:
  date=1
  if month==12:
    month=1
    year+=1
  else:
    month+=1
print(year,"-",month,"-",date)

enter year 2000
enter month 04
enter date 21
2000 - 4 - 22

In [22]:
lst=[45,3,2,89,72,1,10,7]
p=1
for i in range(len(lst)):
  p=p*lst[i]
print(p)

121111200

In [23]:
l=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

In [25]:
a=(5,6,8,3,9,1)
out_list=[]
out_list.append(a[0])
for i in range(len(a)-1):
  x=out_list[i]*a[i+1]
  out_list.append(x)
print("out_list= ",out_list)

out_list=  [5, 30, 240, 720, 6480, 6480]

In [26]:
number=input("Enter a number: ")
list=[]
for n in range(len(number)):
    list.append(number[n])
print(list)

Enter a number: 25345
['2', '5', '3', '4', '5']

In [31]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : akanksha
aka

In [32]:
a=input("enter digit ")
b=input("enter digit ")
if b in a:
  print("1")
else:
  print("0")

enter digit 10101001
enter digit 0101
1

In [35]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 1
Enter capacity of vessel a : 5
Enter capacity of vessel b : 6
Enter capacity to be obtained :10
Minimum number of steps required is :  -1